<!DOCTYPE html>
<html>
<head>
    <title>User Data</title>

    <!-- Include SheetJS (xlsx) from CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.4/xlsx.full.min.js"></script>

    <style>
        table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 6px 6px;
        }
    </style>
</head>
<body>
    <h1>User Data</h1>
    <table id="UserData">
        <tr>
            <th>Username</th>
            <th>Password</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Country</th>
            <th>Favourite Comedian</th>
            <th>Personality</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user[0] }}</td>
            <td>{{ user[1] }}</td>
            <td>{{ user[2] }}</td>
            <td>{{ user[3] }}</td>
            <td>{{ user[4] }}</td>
            <td>{{ user[5] }}</td>
            <td>{{ user[6] }}</td>
        </tr>
        {% endfor %}
    </table>

    <button onclick="exportUsersToXLSX('users.xlsx')"> Export Users </button>

    <form method="post" action="{{ url_for('delete_user') }}">
        <input type="text" name="username" placeholder="Enter username to delete"><br>
        <input type="submit" value="Delete User">
    </form>
    
    <form method="post" action="{{ url_for('delete_all_users') }}">
        <input type="submit" value="Delete All Users">
    </form>

    <h1>Joke Data</h1>
    <table id="JokeData">
        <tr>
            <th>ID</th>
            <th>Joke</th>
            <th>Keyword</th>
            <th>BERT rating</th>
            <th>Funny rating</th>
            <th>Offensive rating</th>
            <th>Surprise rating</th>
            <th>Reality rep rating</th>
            <th>Username</th>
        </tr>
        {% for joke in jokes %}
        <tr>
            <td>{{ joke[0] }}</td>
            <td>{{ joke[1] }}</td>
            <td>{{ joke[2] }}</td>
            <td>{{ joke[3] }}</td>
            <td>{{ joke[4] }}</td>
            <td>{{ joke[5] }}</td>
            <td>{{ joke[6] }}</td>
            <td>{{ joke[7] }}</td>
            <td>{{ joke[8] }}</td>
        </tr>
        {% endfor %}
    </table>

    <!-- <button onclick="exportJokesToXLSX('jokes.xlsx')"> Export </button> -->
    <button onclick="exportJokesToXLSX('jokes.xlsx')"> Export Jokes </button>

    <form method="post" action="{{ url_for('delete_all_jokes') }}">
        <input type="submit" value="Delete All Jokes">
    </form>

    <form method="get" action="{{ url_for('admin_options') }}">
        <input type="submit" value="Back">
    </form>

    <script> 
        // function to download XLSX file
        function downloadXLSX(data, filename) {
            var ws = XLSX.utils.aoa_to_sheet(data);
            var wb = XLSX.utils.book_new();
            XLSX.utils.book_append_sheet(wb, ws, 'Sheet1');
            XLSX.writeFile(wb, filename);
        }

        // function to export the user data to XLSX file format
        function exportUsersToXLSX(filename) {
            var data = [];
            var rows = document.getElementById("UserData").querySelectorAll("table tr");
            
            for (var i = 0; i < rows.length; i++) {
                var row = [];
                var cols = rows[i].querySelectorAll("td, th");
                
                for (var j = 0; j < cols.length; j++) {
                    row.push(cols[j].innerText);
                }
                
                data.push(row);
            }

            downloadXLSX(data, filename);
        }

        // function to export the user data to XLSX file format
        function exportJokesToXLSX(filename) {
            var data = [];
            var rows = document.getElementById("JokeData").querySelectorAll("table tr");
            
            for (var i = 0; i < rows.length; i++) {
                var row = [];
                var cols = rows[i].querySelectorAll("td, th");
                
                for (var j = 0; j < cols.length; j++) {
                    row.push(cols[j].innerText);
                }
                
                data.push(row);
            }

            downloadXLSX(data, filename);
        }
    </script>
</body>
</html>
