<!DOCTYPE html>
<html>
<head>
    <title>User Data</title>
    <style>
        table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 6px 6px;
        }
    </style>
</head>
<body>
    <h1>User Data</h1>
    <table>
        <tr>
            <th>Username</th>
            <th>Password</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Country</th>
            <th>Favourite Comedian</th>
            <th>Personality</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user[0] }}</td>
            <td>{{ user[1] }}</td>
            <td>{{ user[2] }}</td>
            <td>{{ user[3] }}</td>
            <td>{{ user[4] }}</td>
            <td>{{ user[5] }}</td>
            <td>{{ user[6] }}</td>
        </tr>
        {% endfor %}
    </table>
    <form method="post" action="{{ url_for('delete_user') }}">
        <input type="text" name="username" placeholder="Enter username to delete"><br>
        <input type="submit" value="Delete User">
    </form>
    <form method="post" action="{{ url_for('delete_all_users') }}">
        <input type="submit" value="Delete All Users">
    </form>

    <h1>Joke Data</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Joke</th>
            <th>Keyword</th>
            <th>BERT rating</th>
            <th>Funny rating</th>
            <th>Offensive rating</th>
            <th>Surprise rating</th>
            <th>Reality rep rating</th>
            <th>Username</th>
        </tr>
        {% for joke in jokes %}
        <tr>
            <td>{{ joke[0] }}</td>
            <td>{{ joke[1] }}</td>
            <td>{{ joke[2] }}</td>
            <td>{{ joke[3] }}</td>
            <td>{{ joke[4] }}</td>
            <td>{{ joke[5] }}</td>
            <td>{{ joke[6] }}</td>
            <td>{{ joke[7] }}</td>
            <td>{{ joke[8] }}</td>
        </tr>
        {% endfor %}
    </table>

    <form method="post" action="{{ url_for('delete_all_jokes') }}">
        <input type="submit" value="Delete All Jokes">
    </form>

    <form method="get" action="{{ url_for('admin_options') }}">
        <input type="submit" value="Back">
    </form>
</body>
</html>
